body{
    margin: 50px;
}

.navList{
    padding: 0;
    font-size: 0;
}

.navLink{
    display: inline-block;
    min-width: 200px;
    padding: 20px;
    border: 1px solid rgba(13, 69, 22, 0.98);
    background-color: darkgreen;
    color: white;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    list-style: none;
}

.navListItem{
    /*border-bottom: 2px;*/
    /*border-top: 2px;*/
    /*border-left: 1px;*/
    /*border-right: 1px;*/
    /*border-style: solid;*/
    /*border-color: rgba(13, 69, 22, 0.98);*/
    display: inline-block;
}

/*.navListItem:hover{*/
/*    background-color: rgba(13, 69, 22, 0.98);*/
/*    display: none;*/
/*}*/

/*.navListItem:hover{*/
/*    background-color: rgba(13, 69, 22, 0.98);*/
/*}*/


/*.navListSub:hover{*/
/*    background-color: rgba(13, 69, 22, 0.98);*/
/*    !*display: inline-block;*!*/
/*    !*bottom: 100%;*!*/
/*}*/


.navListSub{
    display: none;
    position: absolute;
    /*transform: translate(100%,0);*/
    padding: 0;
}

.navLink:hover{
    /*display: block;*/
    background-color: rgba(13, 69, 22, 0.98);
    /*background-color: blue;*/
}

.navList:hover .navListSub {
    display: block;
    background-color: blue;
}


.navListSubItem {
    /*border: 1px solid rgba(13, 69, 22, 0.98);*/
}

/*.navListSubItem:hover{*/
/*    background-color: rgba(13, 69, 22, 0.98);*/
/*    display: inline-block;*/
/*    bottom: 100%;*/
/*}*/

