:root{
    --border-color: #0D4516;  /* rgba(13, 69, 22, 0.98) */
}

body{
    margin: 50px;
}

.navList{
    padding: 0;
    font-size: 0;
}

.navLink{
    display: inline-block;
    min-width: 200px;
    padding: 20px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    list-style: none;
    color: white;
}

.navListItem{
    display: inline-block;
    border: 1px solid var(--border-color);
    background-color: darkgreen;
}

.navListItem:hover{
    background-color: var(--border-color);
}

.navListItem:hover > .navListSub {
    display: block;
}

.navListSubItem {
    border: 1px solid var(--border-color);
    background-color: darkgreen;
}

.navListSubItem:hover{
    background-color: var(--border-color);
}

.navListSubItem:hover > .navListSub {
    display: inline-block;
}

.navListSub{
    display: none;
    position: absolute;
    padding: 0;
}
